<header id="home" class="header">
	<div class="container header-container">
		<nav class="header-navigation">
			<a class="header-logo" href="./index.html">
				SIMPLY CHOCOLATE
				<svg class="header-icon-choco" width="24" height="24">
					<use href="./img/svg/icons.svg#icon-choco"></use>
				</svg>
			</a>
			<ul class="header-list list">
				<li class="header-item">
					<a class="header-link link" href="#home">Home</a>
				</li>
				<li class="header-item">
					<a class="header-link link" href="#how-its-made">How it's made?</a>
				</li>
				<li class="header-item">
					<a class="header-link link" href="#our-products">Our products</a>
				</li>
				<li class="header-item">
					<a class="header-link link" href="#top-sellers">Top sellers</a>
				</li>
				<li class="header-item">
					<a class="header-link link" href="#chocolate-is-loved">Chocolate is loved</a>
				</li>
			</ul>
		</nav>
		<div>
			<ul class="header-social-list list">
				<li class="header-social-item">
					<a href="https://www.instagram.com" class="header-social-link link" target="_blank">
						<svg class="header-social-icon" width="24" height="24">
							<use href="./img/svg/icons.svg#icon-instagram-icon-mobile"></use>
						</svg>
					</a>
				</li>
				<li class="header-social-item">
					<a href="https://www.twitter.com" class="header-social-link link" target="_blank">
						<svg class="header-social-icon" width="24" height="24">
							<use href="./img/svg/icons.svg#icon-twitter-icon"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>

		<button type="button" class="menu-hamburger js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
			<svg width="28" height="28">
				<use class="icon-hamburger" href="./img/svg/icons.svg#icon-menu-icon"></use>
			</svg>
		</button>

		<div class="mobile js-menu-container" id="mobile-menu">
			<svg class="icon-modal-btn js-close-menu">
				<use href="./img/svg/icons.svg#icon-сlose-icon-converted"></use>
			</svg>
			<nav class="header-nav">
				<ul class="header-list-mobile list">
					<li class="header-item">
						<a class="header-link link" href="#home">Home</a>
					</li>
					<li class="header-item">
						<a class="header-link link" href="#how-its-made">How it’s made?</a>
					</li>
					<li class="header-item">
						<a class="header-link link" href="#our-products">Our products</a>
					</li>
					<li class="header-item">
						<a class="header-link link" href="#top-sellers">Top sellers</a>
					</li>
					<li class="header-item">
						<a class="header-link link" href="#chocolate-is-loved">Chocolate is loved</a>
					</li>
				</ul>
			</nav>

			<div>
				<ul class="header-social-list-mob list">
					<li class="header-social-item-mob">
						<a href="https://www.instagram.com" class="header-social-link-mob link" target="_blank">
							<svg class="header-social-icon-mob" width="22" height="22">
								<use href="./img/svg/icons.svg#icon-instagram-icon-mobile"></use>
							</svg>
						</a>
					</li>
					<li class="header-social-item-mob">
						<a href="https://www.twitter.com" class="header-social-link-mob link" target="_blank">
							<svg class="header-social-icon-mob" width="22" height="22">
								<use href="./img/svg/icons.svg#icon-twitter-icon"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>